<header>
    <script src="https://cdn.tailwindcss.com"></script>
    <div class="fixed top-0 left-0 w-full z-50 flex rounded-lg shadow-lg justify-between items-center p-4 bg-gray-800 text-white">
        <div class="flex">
            <div class="button mr-3"><a href="/">Главная</a></div>
            {% if is_auth %}
                <div class="button mr-3"><a href="/quizzes/">Тесты</a></div>
                <div class="button mr-3"><a href="/dashboard/">Доска</a></div>
                <div class="button mr-3"><a href="/hw/">Домашние задания</a></div>
                <div class="button mr-3"><a href="/manual/">Методические пособия</a></div>
            {% endif %}
        </div>
        <div class="flex">
            {% if is_auth %}
                <div class="button mr-3"><a href="/lk/">Личный кабинет</a></div>
                <div class="button mr-3"><a href="/signin/logout">Выйти</a></div>
            {% else %} 
                <div class="button mr-3"><a href="/signin">Войти</a></div>
                <div class="button"><a href="/signup">Зарегистрироваться</a></div>
            {% endif %}
        </div>
    </div>
</header>

<div class="mt-20">
</div>