{% extends 'base.html' %}

{% block head %}
    <title>Регистрация</title>
    <script src="https://cdn.tailwindcss.com"></script>
{% endblock head %}

{% block content %}
<div style="display: flex; flex-direction: column" class="justify-center relative">  
    <form action="/signup/register" method="get" class="grid items-center justify-center rounded-lg">
        <div class="bg-yellow-50 p-5 rounded-lg border items-center">
            <label for="username">Имя пользователя*:</label><br>
            <input type="text" id="username" name="username" class="border rounded-lg" required><br><br>
            
            <label for="email">Email*:</label><br>
            <input type="email" id="email" name="email" class="border rounded-lg" required><br><br>
            
            <label for="password">Пароль*:</label><br>
            <input type="password" id="password" name="password" class="border rounded-lg" required><br><br>
            
            <label for="confirm_password">Подтвердите пароль*:</label><br>
            <input type="password" id="confirm_password" name="confirm_password" class="border rounded-lg" required><br><br>
            
            <label for="name">Имя:</label><br>
            <input type="text" id="name" name="name" class="border rounded-lg"><br><br>
            
            <label for="surname">Фамилия</label><br>
            <input type="text" id="surname" name="surname" class="border rounded-lg"><br><br>
            
            <label for="age">Возраст:</label><br>
            <input type="text" id="age" name="age" class="border rounded-lg"><br><br>
            
            <label for="age">Пол:</label>
            <select name="gender" id="gender">
                {% for gender in genders%}
                    <option value="{{gender.value}}">{{gender.value}}</option>
                {% endfor %}
            
            </div>
            <input type="submit" value="Регистрация" class="rounded-lg bg-blue-500 hover:bg-blue-600 text-white p-3 absolute top-5 right-5">
    </form>
</div>
{% endblock %}